*,
::before,
::after {
    box-sizing: border-box;
}


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot);
    /* For IE6-8 */
    src: local('Material Icons'),
        local('MaterialIcons-Regular'),
        url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
        url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
        url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}


body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contentHeadCenter {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.DownloadLinks {
    display: inline-block;
    padding: 10px;
    margin: 5px 3rem;
}

.DownloadLinks:hover {
    border: 5px solid cyan;
    transition: all 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

#Note {
    margin-bottom: 20px;
    font-size: 15px;
    background-color: #000;
    color: yellow;
    padding: 5px 4px;
    border-radius: 5px;
    font-weight: bolder;
}

img {
    width: clamp(100px, 100%, 500px);
}

@media only screen and (min-width:500px) {
    img {
        width: 100%;
    }

}

@media (max-width:440px) {
    .DownloadLinks {
        margin: auto !important;
    }
    
}

.fHeader {
    border-bottom: 2px dashed red;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}