*, ::before, ::after {
    box-sizing: border-box;
}

:root {
    --bg-trs-b: rgba(0, 0, 0, 0.150);
    --bs-boc-b: rgba(0, 0, 0, 0.120);
    --ic-o-east: url(./outline_east_black_24dp.png);
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

article[class="head"] {
    display: flex;
    justify-content: center;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content img {
    margin-bottom: 15px;
}

summary>span::selection {
    user-select: none;
    -webkit-user-drag: none;
    -ms-user-drag: none;
    -o-user-drag: none;
    -moz-user-drag: none;
}

summary::marker {
    content: "";
}

details>p {
    text-align: center;
}

details {
    --webkit-user-select: none;
    --moz-user-select: none;
    --ms-user-select: none;
    padding: 1.234rem;
    margin-top: 20px;
    background-color: var(--bg-trs-b);
    border: 1px solid var(--bs-boc-b);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

details p span {
    display: inline-block;
    margin-top: 1.4rem;
    margin-bottom: 0.343rem;
}

#caution {
    text-align: center;
}

#caution>summary {
    font-weight: bold;
    color: #f00;
    font-size: 1.5rem;
}

#MidMan {
    text-align: left;
}

#Note {
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
    background-color: #000;
    color: #fff;
    padding: 5px 4px;
    font-weight: bolder;
}

img {
    width: 320px;
}

@media only screen and (min-width:500px) and (max-width:1024px) {
    img {
        width: 700px;
    }
}